{%- set Lf = uiStrings[locale] if locale else uiStrings.en %}
<footer class="foot">
  <div class="foot-row">
    <div class="foot-brand">
      <a class="brand" href="{{ '/es/' if locale == 'es' else '/' }}">THE MEXICO <span class="u">BRIEF</span></a>
      <p class="fblurb">{{ Lf.tagline }}</p>
    </div>
  </div>
</footer>
